.title{
    width: 205px;
    height: 42px;
    margin-left: 100px;
    margin-top: 74px;
    margin-bottom: 12px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    
    color: #626262;
    }