.profile{
  display: block;
}
.profile .header {
  margin-top: 66px;
  margin-left: 100px;
}
.profile .header .left .left-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.profile .header .right {
  width: 312px;
  margin-left: -40px;
}
.profile .header .right .right-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 24px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.profile{
  height: 100vh;
  width: 90vw;
  overflow: scroll;
}