.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: auto;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    
    
}

#close{
    border-radius: 8px;
    padding: 2%;
    background-color: #83ACA2;
    border-color: #dbdbdb;
    color: white;
    font-size: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

#close:hover{
    cursor: pointer;
}

#title{
    font-size: 25px;
    color: #626262;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.modal.show{
    opacity: 1;
    pointer-events: visible;
}

#closeButtonDiv{
    width: 33.33vw;
    text-align: left;
}

#titleDiv{
    width: 66.66vw;
    text-align: center;
}

#emptyDiv{
    width: 33.33vw;
    text-align: center;
}



.modal-content{
    width: 600px;
    background-color: #F6F6F6;
    border-radius: 25px;
}

.modal-header, .modal-footer{
    padding: 10px;
}

.modal-header{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.modal-body{
    padding: 10px;
    flex-direction: column;
    border:none;
    border-radius:30px;
    
}