.nav-menu{
    background-color: #83ACA2;
    text-align: center; 
    width: 165px;
    height: 100vh;
}

#circleButton{
    text-align: center; 
    background-color: #8FCCDF;
    transition: 0.5s;
}

#circleButton:hover{
    background-color: black;
}

#addButton{
    text-align: center;
    background-color: #90D9A0;
    transition: 0.5s;
}

#addButton:hover{
    background-color: black;
}


img {
    max-width: 50px;
    height: auto;
    user-select: none; 
}
