.nav-menu{
    background-color: #83ACA2;
    text-align: center; 
    width: 165px;
    height: 100vh;
}

#circleButton{
    
    background-color: #8FCCDF;
    transition: 0.5s;
}

#circleButton:hover, #addButton:hover{
    background-color: black;
}

#addButton{
    cursor: pointer;
    background-color: #90D9A0;
    transition: 0.5s;
}

#circleButton img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 90%;
}

#addButton img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 90%;
}


img {

    max-width: 50px;
    height: auto;
    user-select: none; 
}