.wrap {
  width: 613px;
  height: auto;
  margin-left: 100px;
  margin-top: 50px;
  background: #F6F6F6;
  border-radius: 60px;
}
.wrap .top{
  display: inline;
}
.wrap .top .name {
  width: auto;
  height: 36px;
  margin-left: 37px;
  background: #FFFEFE;
  border-radius: 40px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  color: #727272;
}
.wrap .top .tags {
  width: auto;
  height: 23px;
  margin-left: 10px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  text-decoration: underline;
  color: #727272;
}
.wrap .mid {
  width: 532px;
  height: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  display: flex;
  align-items: center;
  letter-spacing: 0.045em;
  text-transform: lowercase;
  margin-left: 40px;
  margin-top: 11px;
  color: #626262;
}
.wrap .bot {
  margin-left: 487px;
  margin-top: -20px;
}
.wrap .bot .heart {
  height: 25px;
  width: 25px;
  outline: none;
  border: none;
}
.wrap .bot .comment {
  height: 25px;
  width: 25px;
  margin-left: 18px;
  outline: none;
  border: none;
}
