.wrapPost {
  width: 613px;
  height: auto;
  padding: 15px;
  margin-left: 100px;
  margin-top: 50px;
  background: #F6F6F6;
  border-radius: 60px;
}
.wrapPost .topPost{
  width: auto;
}
.wrapPost .topPost .namePost {
  width: auto;
  height: 36px;
  margin-left: 37px;
  background: #FFFEFE;
  border-radius: 40px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #727272;
}
.wrapPost .topPost .tagsPost {
  width: auto;
  height: 23px;
  margin-left: 10px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  text-decoration: underline;
  color: #727272;
}
.wrapPost .midPost {
  width: 532px;
  height: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  display: flex;
  align-items: center;
  letter-spacing: 0.045em;
  text-transform: lowercase;
  margin-left: 40px;
  margin-top: 11px;
  color: #626262;
}
.wrapPost .botPost {
  margin-left: 487px;
  margin-top: -20px;
}
.wrapPost .botPost .heartPost {
  height: 25px;
  width: 25px;
  outline: none;
  border: none;
}
.wrapPost .botPost .commentPost {
  height: 25px;
  width: 25px;
  margin-left: 18px;
  outline: none;
  border: none;
}
.commentBar{
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
  height: 50px;
  background: #F6F6F6;
  border-radius: 20px;
  bottom: 0px;
  display: flex;
}
.commentBar .input {
  margin-left: 20px;
  padding-top: 5px;
  width: 500px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #626262;
  background: #f6f6f6;
  border: none;
  outline: none;
}
.commentBar .send {
  width: 100px;
  background: #83ACA2;
  border-radius: 20px;
  border: none;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.commentCloseButton{
  right: 20px;
  width: 60px;
  height: 40px;

  background: #83ACA2;
  border-radius: 20px;
  outline: none;
  border: none;
  color: #FFFFFF;
}