.searchBar {
  width: 613px;
  height: 62px;
  margin-left: 100px;
  margin-top: 45px;
  background: #f6f6f6;
  border-radius: 110px;
  display: flex;
}
.searchBar .left {
  width: 21px;
  height: 21px;
  margin-top: 22px;
  margin-left: 28px;
  margin-right: 24px;
}
.searchBar .mid {
  height: 45px;
  width: 467px;
  padding-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #626262;
  background: #f6f6f6;
  border: none;
  outline: none;
}
.searchBar .right {
  width: 170px;
  height: 62px;
  margin-left: 24px;
  background: #b0ecff;
  border-radius: 110px;
  border: none;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #626262;
}
