.tabbar {
  position: fixed;
  width: 165px;
  height: 100%;
  left: -1px;
  top: 0px;
  background: #83ACA2;
  justify-content: space-evenly;
  scroll-behavior: unset;
}
.tabbar .top {
  width: 70px;
  height: 70px;
  margin-left: 45px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}
.tabbar .bot {
  width: 70px;
  height: 70px;
  margin-left: 45px;
  margin-top: 14px;
  display: block;
}
