.tabbar {
  position: fixed;
  width: 165px;
  height: 100%;
  left: -1px;
  top: 0px;
  background: #83aca2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: space-evenly;
}

.tab {
  width: 70px;
  height: 150px;
  display: block;
  justify-self: space-evenly;
}
